extends layout

block content
  .layout
    .info-container
      h1.title quill-sharedb-cursors
      p Collaborative editing example with Quill and cursors.
      
      #connect-panel
        h4 Username
        form#username-form
          | Set your username and connect to edit:
          br
          input#username-input(type='text')
          br
          button#connect-btn Connect
      #users-panel
        h4 Users editing
        ul#users-list
    .editor-container
      #editor
