doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/quill.snow.css')
  body
    block content
    script(src='/socket.io/socket.io.js')
    script(src='/dist/bundle.js')
    block scripts
